# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Convex Configuration
VITE_CONVEX_URL=

# Mux (future)
VITE_MUX_TOKEN_ID=
VITE_MUX_TOKEN_SECRET=

# Paystack (future)
VITE_PAYSTACK_PUBLIC_KEY=
